.Main-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin: 60% 3%; */
    height: 100%;
    padding: 2%;
}

.Main-paragraph {
    margin-top: 25px;
}