@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=VT323&display=swap');

@import "tailwindcss";

@theme {
    --color-whitedark: #f4f2eb;
    --color-greydarklight: #626262;
    --color-greydark: #323232;
    --color-pink: #ff0066;
}

@layer base {
    a {
        @apply text-[0.9rem] no-underline;
    }

    html,
    body,
    #root {
        @apply m-0 bg-[--color-whitedark] h-full;
    }

    button {
        @apply cursor-pointer px-2;

    }

    form {
        @apply flex flex-col;
    }

    input {
        @apply border border-dashed border-gray-400 bg-white rounded-lg font-light text-[1.2rem] p-2 transition ease-in-out duration-400;
        color: var(--color-greydark);
    }

    input:focus {
        background-color: var(--color-pink);
        color: white;
    }

    .button {
        @apply block mx-auto my-2 bg-[#ff0066] text-white font-bold text-[15px] w-1/4 rounded-lg border border-[#ff0066] text-center p-2;
    }

    label {
        @apply mt-[0.3rem] font-light text-[0.9rem];
    }

    .w-full {
        @apply w-full;
    }
}



/* * {
    font-family: Quicksand;
    color: rgb(66, 66, 66);
}

a {
    font-size: .9rem;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    color: rgb(50, 50, 50);
    text-align: center;
    margin-top: 2rem;
}

html,
body,
#root {
    margin: 0;
    background-color: rgb(244, 242, 235);
    height: 100%;
}

button {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    border-style: dashed;
    border-width: 1px;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 1.2rem;
    color: rgb(98, 98, 98);
}

input:focus {
    background-color: rgb(255, 0, 102);
    color: white;
    transition: ease-in-out 0.4s;
}

.button {
    display: block;
    margin: 10px auto;
    background-color: rgb(255, 0, 102);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 25%;
    border-radius: 8px;
    border-color: rgb(255, 0, 102);
    border-style: solid;
    align-content: center;

}

.button-cancel {
    display: block;
    margin: 5px auto;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 25%;
    border-radius: 8px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    align-content: center;
}

label {
    margin-top: .3rem;
    font-weight: lighter;
    font-size: .9rem;
}

.w-full {
    width: 100%;
} */