div {
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
        auto 1fr auto;
}

header {
    background-color: blue;
}

main {
    background-color: chocolate;
}

footer {
    background-color: chartreuse;
}