@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=VT323&display=swap');
@import "tailwindcss";

@theme {
    --color-whitedark: #f4f2eb;
    --color-greydarklight: #626262;
    --color-greydark: #323232;
    --color-grey: #f4f2eb;
    --color-black: #000000;
    --color-lila: #B62682;
    --color-green: #E1F56E;
}

@layer base {
    a {
        @apply text-[0.9rem] no-underline;
    }

    html,
    body,
    #root {
        @apply m-0 bg-[--color-whitedark] h-full;
    }

    button {
        @apply cursor-pointer px-2;
    }

    form {
        @apply flex flex-col;
    }

    input {
        @apply border border-dashed border-gray-400 bg-white rounded-lg font-light text-[1.2rem] p-2 transition ease-in-out duration-400;
        color: var(--color-greydark);
    }

    input:focus {
        background-color: var(--color-greydark);
        color: white;
    }

    .button {
        @apply block mx-auto my-2 bg-[#ff0066] text-white font-bold text-[15px] w-1/4 rounded-lg border-2 border-[#ff0066] text-center p-2;
    }

    label {
        @apply mt-[0.3rem] font-light text-[0.9rem];
    }

    .w-full {
        @apply w-full;
    }
}

@layer utilities {
    @keyframes flash {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .animate-flash {
        animation: flash 0.5s infinite;
    }
}

/* Fondo completo del calendario */
.react-calendar {
    background-color: #ffffff;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 18px;
    padding: 1rem;
}

/* Día actual (amarillo en tu caso) */
.react-calendar__tile--now {
    background: #E1F56E;
    border-radius: 8px;
    color: #2f88ff;
    font-weight: bold;
    border: 2px solid #f1e157;
}

/* Día seleccionado (azul en tu imagen) */
.react-calendar__tile--active {
    background: #B62682;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

/* Borde o estilo general de cada día */
.react-calendar__tile {
    border: 1px solid transparent;
    transition: 0.2s;
}

.react-calendar__tile:hover {
    border: 1px solid #ccc;
    background: #f0f0f0;
}

.react-calendar__tile {
    width: 100%;
    padding-top: 10%;
    /* Hace que la altura sea igual al ancho */
    position: relative;
}

.react-calendar__tile>* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}