@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=VT323&display=swap');

@import "tailwindcss";

@theme {
    --color-whitedark: #f4f2eb;
    --color-greydarklight: #626262;
    --color-greydark: #323232;
    --color-grey: #f4f2eb;
    --color-black: #000000;
}

@layer base {
    a {
        @apply text-[0.9rem] no-underline;
    }

    html,
    body,
    #root {
        @apply m-0 bg-[--color-whitedark] h-full;
    }

    button {
        @apply cursor-pointer px-2;
    }

    form {
        @apply flex flex-col;
    }

    input {
        @apply border border-dashed border-gray-400 bg-white rounded-lg font-light text-[1.2rem] p-2 transition ease-in-out duration-400;
        color: var(--color-greydark);
    }

    input:focus {
        background-color: var(--color-greydark);
        color: white;
    }

    .button {
        @apply block mx-auto my-2 bg-[#ff0066] text-white font-bold text-[15px] w-1/4 rounded-lg border-2 border-[#ff0066] text-center p-2;
    }

    label {
        @apply mt-[0.3rem] font-light text-[0.9rem];
    }

    .w-full {
        @apply w-full;
    }
}

@layer utilities {

    /* Definimos la animación flash */
    @keyframes flash {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    /* Creamos la clase animate-flash */
    .animate-flash {
        animation: flash 0.5s infinite;
    }
}

/* Por defecto, todos los números del calendario estarán en gris */
.react-calendar__tile {
    color: rgb(173, 173, 173) !important;
}

/* Los días con disponibilidad se verán en negro y negrita */
.react-calendar__tile.text-black {
    color: black !important;
    font-weight: 900 !important;
}